include src/hermes_managed_network/assets/join.sh
include src/hermes_managed_network/assets/worker.sh
include src/hermes_managed_network/assets/worker-lite.sh
recursive-include src/hermes_managed_network/components component.yaml
